[*.{kt, kts}]
indent_style = space
indent_size = 4
# See https://kotlinlang.org/docs/reference/code-style-migration-guide.html#differences-between-kotlin-coding-conventions-and-intellij-idea-default-code-style
continuation_indent_size = 4
kotlin_imports_layout=idea
insert_final_newline=true
disabled_rules=filename

[src/test/**/jql/field/*.{kt, kts}]
disabled_rules=indent
